<!DOCTYPE html>
<html>
<head>
  <title>Hírek</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
    }
    h1 {
      color: #006990;
    }
    h2 {
      color: #006990;
    }
    p {
      font-size: 16px;
    }
    a {
      color: #006990;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <h1>Hírek</h1>
  <ul>
    {% for article in articles %}
      <li>
        <h2>{{ article.title }}</h2>
        <p>{{ article.description }}</p>
        <time>{{ article.date }}</time>
        <a href="/?url_corr={{ article.url }}">korrupció</a>
        <a href="/?url={{ article.url }}">nem korrupció</a>
      </li>
    {% endfor %}
  </ul>
</body>
</html>